<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assess-Pass</title>
</head>
<body>
{% if start %}
    <h3>Welcome, User</h3>
    <form action="/validate" method="post">
        <label for="email">Email</label>
        <input type="email" name="email" required>
        <input type="text" name="url" value="{{ url }}" hidden>
        <input type="submit" name="submit" value="Authenticate">
    </form>
{% elif not authenticated %}
    <h1>Your are not authenticated to take the test</h1>
{% else %}
    <iframe src="{{ url }}/viewform?embedded=true" width="640" height="504" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
{% endif %}
</body>
</html>